# API Configuration
GEMINI_API_KEY=your_gemini_api_key_here
#szerveren futó port pl.: 3000, 8080
PORT=
#development or production
NODE_ENV=
# Session & Security
# KÖTELEZŐ – minimum 32 karakter
SESSION_SECRET=
# KÖTELEZŐ
AUTH_USERNAME=
# KÖTELEZŐ
AUTH_PASSWORD=
# OPCIONÁLIS – ha beállítod, bcrypt hash-elés aktiválódik (biztonságosabb)
# AUTH_PASSWORD_HASH=

